@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.btn{
  background: linear-gradient(
    92.23deg,
   #ff56f6 21.43%,
   #b936ee 50.63%,
   #3bace2 100%,
   #406aff 117.04%
  );
  /* background: #EECDA3; 
 background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);   */
/* background: linear-gradient(to right, #EF629F, #EECDA3);  */
/* 
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    9292.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  ); */

/* 
.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  background: #EECDA3;  
background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  
background: linear-gradient(to right, #EF629F, #EECDA3); 

}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%
} */

/* 
@layer base {
  body {
    @apply bg-gray-100 text-lg leading-8 text-blue-400;
  }
  .h2 {
    @apply font-semibold text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
      @apply rounded-full bg-blue-500 text-white font-medium;
    }
    .btn-sm {
      @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
      @apply h-[56px] px-10 text-base;
    } */
    /* .btn-link {
      @apply text-base;
    }
    .text-gradient {
      @apply bg-gradient-to-r text-transparent bg-clip-text from-[#d38312] to-[#a83279]
      font-bold hover:from-[#a83279] hover:t0-[#d38312]
    } 
    .section {
     @apply py-8 lg:py-24 lg:h-screen flex items-center;
}
}  */ 